VITE_CONTRACT_ID=CDATIU6HBFB4JRQY2ELI62UPOT33C6O4VHHCJSOUT5TKGR7VJIMHNLHS
VITE_SIMULATION_ACCOUNT=GCDNETPXBMI5FJONOLGZOKKDIUNHEEBZPPRJB5PFLOOU5FE2HZTO7NNM
VITE_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
VITE_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
VITE_APP_URL=http://localhost:5173
